[Unit]
Description=vllm model serve service
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target default.target

[Service]
{% if gpu_validation_workload_service_extra_config | default('', true) | length > 0 %}
{{ gpu_validation_workload_service_extra_config }}
{% endif %}
{% if gpu_validation_http_proxy or gpu_validation_https_proxy %}
Environment="HTTP_PROXY={{ gpu_validation_http_proxy | default(gpu_validation_https_proxy, true) }}"
Environment="HTTPS_PROXY={{ gpu_validation_https_proxy | default(gpu_validation_http_proxy, true) }}"
Environment="NO_PROXY={{ gpu_validation_no_proxy | default('localhost,127.0.0.1') }}"
{% endif %}
{% if gpu_validation_workload_pre_start_command | length > 0 %}
{{ gpu_validation_workload_pre_start_command }}
{% endif %}
{% if gpu_validation_custom_run_command | length > 0 %}
{{ gpu_validation_custom_run_command }}
{% else %}
ExecStart=podman run \
    {{ gpu_validation_workload_device_opts }} \
    {{ gpu_validation_workload_security_opts }} \
    {{ gpu_validation_workload_shm_size }} \
    {{ gpu_validation_workload_userns }} \
    {{ gpu_validation_workload_additional_opts }} \
    -v {{ gpu_validation_workload_cache_dir }}:{{ gpu_validation_workload_cache_mount_path }}:Z \
{% if gpu_validation_model_download_hf_token %}
    --env-file %h/huggingface-token.env  \
{% endif %}
{% if gpu_validation_http_proxy or gpu_validation_https_proxy %}
    --env "HTTP_PROXY={{ gpu_validation_http_proxy | default(gpu_validation_https_proxy, true) }}" \
    --env "HTTPS_PROXY={{ gpu_validation_https_proxy | default(gpu_validation_http_proxy, true) }}" \
    --env "NO_PROXY={{ gpu_validation_no_proxy | default('localhost,127.0.0.1') }}" \
{% endif %}
    {{ gpu_validation_workload_additional_env }} \
    -p 8000:8000 \
    {{ gpu_validation_workload_container_image }} \
    --model {{ gpu_validation_model_name | quote }} \
{% if gpu_validation_vllm_mem_utilization %}
    --gpu-memory-utilization {{ gpu_validation_vllm_mem_utilization }} \
{% endif %}
    {{ gpu_validation_vllm_extra_args }} \
    --tensor-parallel-size {{ gpu_validation_num_gpus }}
{% endif %}
